
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash%7CRoboto:300,400,400i,500,500i,700,700i,900');
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');


:root {
    --max-width: 1900px; /* Default maximum width */
}

body {
    gap: 0;
    margin: 8px;
    padding: 0;
    box-sizing: border-box; 
    /* The measurement should include everything inside the element */
}


.st-emotion-cache-uf99v8{
    max-width: var(--max-width);
    margin: 0 auto;
}

.e1f1d6gn2{gap: 0;}

/* Header Details */
.e1f1d6gn5 {
    max-width: var(--max-width);
    display: flex;
    position: relative;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* align-items: center; */
    margin: 0 auto;
    /* transform: translate(0, 50%); */
}

.st-emotion-cache-qh719c {
    font-size: 17px;
    margin-bottom: 20px;
}
h2{color: white !important;}

.centered-text {
    align-items: center;
    visibility: hidden;

}

.center1{text-align: center;
    margin: 50px auto;}

.st-ar{
    align-items: center;
    justify-content: center;
}
.st-c7 {
    margin: 0 auto;
}
.st-ca {
    width: 70%;
}

.st-emotion-cache-1gv5c5a p{
    font-size: 24px;
    padding: 40px;
}


hr {
    border-bottom: 2px solid #ff5d56;
    align-items: center;
}
h3 {width: 70%;
    margin: 0 auto;
    align-items: center;}
h4 {
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ff5d56; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #fc8b87;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #ff5d56;
  }
  

  /* image link*/
  .container {
    top: 0px;
    left: 0px;
    height: 70%; /* Take full height of parent container */
    /* background-image: url("https://raw.githubusercontent.com/magan10/picture/main/banner.png?raw=true"); */
    background-image: url("https://raw.githubusercontent.com/magan10/Picture1/main/photo_2024-05-08_12-56-20.jpg?raw=true");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: 0; /* Ensure column2 appears below column1 */
}

.column1 {
    display: flex;
    width: 70%;
    height: 70vh; /* Take full height of parent container */
    margin: 0 auto;
    align-items: center;
    /* background-color: red;*/
    z-index: 1; /* Ensure column1 appears above column2 */
}
.column2 {
    position: relative;
    width: 100%;
}
.col-1 {
    display: grid;
    margin: 0 50% 0 0;
}
.h3 {
    margin:0;
    padding: 0;
}
.want-to-be{
    font-size:5rem;
    padding: 0;
    margin: 0;
    color: #ff5d56;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

@media screen and (max-width: 767px) {
    .st-emotion-cache-1gv5c5a p{
        padding: 0px;
    }
    button[type=submit] {
        width: 100%;
    }
    .want-to-be{
        top: 0;
        
        font-size: small;
    }
}